{
    "drowsy": {
        "url": "http://drowsy.badger.encorelab.org"
    },
    "wakeful": {
        "url": "http://badger.encorelab.org:7777/faye"
    },
    "database":"tomato",
    "curnit": "PairTomato"
}